.accordion {
    &__section {
        border-bottom: 1px solid $border;
        
        &:first-child {
            border-top: 1px solid $border;
        }
    }
    
    &__title {
        position: relative;
        display: flex;
        align-items: center;
        min-height: 68px;
        padding-top: 10px;
        padding-bottom: 8px;
        padding-left: 20px;
        font-size: 23px;
        line-height: normal;
        cursor: pointer;
        transition: all 0.2s;
    
        .icon-cross {
            width: 18px;
            height: 18px;
            margin-right: 20px;
            fill: $theme;
            transform: rotate(135deg);
            transition: all 0.3s;
        }
        
        &:hover {
            color: $theme;
        }
    
        &.active {
            color: $theme;
    
            .icon-cross {
                transform: rotate(0deg);
            }
        }
    }
    
    &__content {
        max-height: 0;
        padding-left: 58px;
        opacity: 0;
        overflow: hidden;
        transition: all 0.15s;
        
        &.active {
            max-height: 3000px;
            opacity: 1;
            transition: max-height 0.8s, opacity 0.2s;
        }
    }
    
    @media only screen and (max-width: 1024px) {
        &__title,
        &__content {
            padding-left: 0;
        }
    }
}