.article {
    font-size: 19px;
    line-height: 1.65em;
    
    p {
        &:not(:first-child) {
            margin-top: 30px;
        }
    }
    
    ol {
        &:not(:first-child) {
            margin-top: 30px;
        }
        
        li {
            &:not(:first-child) {
                margin-top: 28px;
            }
        }
        
        ul {
            margin-top: 12px;
        }
    }
    
    ul {
        &:not(:first-child) {
            margin-top: 30px;
        }
    
        li {
            position: relative;
            padding-left: 20px;
            
            &:not(:first-child) {
                margin-top: 12px;
            }
    
            &:before {
                position: absolute;
                content: '';
                top: 50%;
                left: 0;
                display: block;
                width: 7px;
                height: 7px;
                background-color: $theme;
                border-radius: 50%;
                transform: translateY(-50%);
            }
        }
    }
    
    @media only screen and (max-width: 1024px) {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    @media only screen and (max-width: 768px) {
        font-size: 17px;
    
        p {
            &:not(:first-child) {
                margin-top: 25px;
            }
        }
    }
}