.cards {
    padding-top: 145px;
    padding-bottom: 154px;
    background-color: $lightBg;
    
    &__inner {
        @include inner;
    }
    
    &__title {
        @include sectionTitle;
    }
    
    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 44px;
        
        .main-butn {
            height: 252px;
            font-size: 17px;
        }
    }
    
    &__item {
        min-height: 252px;
        padding-top: 53px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 39px;
        background-color: $white;
        box-shadow: $shadow;
        border-radius: 4px;
        
        &-icon {
            position: relative;
            width: 47px;
            height: 47px;
            margin-bottom: 20px;
            
            &:before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 100%;
                background-image: $cardsIconBg;
                background-size: 100% 100%;
                background-position: 0 0;
            }
            
            svg  {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                width: 28px;
                height: 28px;
                fill: $theme;
                
                &.icon-globe {
                    top: 9px;
                    left: 31px;
                }
                
                &.icon-pie {
                    top: 9px;
                    left: 31px;
                }
                
                &.icon-card {
                    top: -1px;
                    left: 12px;
                    width: 40px;
                    height: 40px;
                }
                
                &.icon-contractor {
                    top: -4px;
                    left: 5px;
                    width: 43px;
                    height: 43px;
                }
                
                &.icon-lock {
                    top: -9px;
                    left: 10px;
                    width: 30px;
                    height: 30px;
                }
                
                &.icon-id {
                    top: -3px;
                    left: 6px;
                    width: 44px;
                    height: 44px;
                }
                
                &.icon-gear {
                    top: 0;
                    left: 9px;
                    width: 47px;
                    height: 47px;
                }
            }
        }
        
        &-text {
            font-size: 23px;
        }
        
        &-subtext {
            max-width: 440px;
            margin-top: 16px;
            margin-bottom: 26px;
            line-height: 1.4em;
        }
        
        &:nth-child(2n) {
            .cards__item-icon:before {
                transform: rotate(180deg);
            }
        }
        
        &:nth-child(3n) {
            .cards__item-icon:before {
                transform: rotate(-45deg);
            }
        }
    }
    
    @media only screen and (max-width: 768px) {
        padding-top: 130px;
        padding-bottom: 66px;
    
        &__list {
            grid-template-columns: 1fr;
            grid-row-gap: 20px;
    
            .main-butn {
                height: 200px;
                font-size: 17px;
            }
        }
        
        &__item {
            min-height: 252px;
            padding-top: 32px;
            padding-right: 20px;
            padding-bottom: 20px;
            padding-left: 17px;
        }
    }
}