/*________________2.3. FORM ELEMENTS___________*/
input::-ms-clear {
    display: none;
}

::-webkit-input-placeholder {
    color: $placeholder;
}

::-moz-placeholder {
    color: $placeholder;
}

:-ms-input-placeholder {
    color: $placeholder;
}

:focus::-webkit-input-placeholder {
    color: transparent;
}

:focus::-moz-placeholder {
    color: transparent;
}

:focus:-ms-input-placeholder {
    color: transparent;
}

.driver__filter-input::-webkit-input-placeholder {
    color: $placeholder;
}

.driver__filter-input::-moz-placeholder {
    color: $placeholder;
}

:-ms-input-placeholder {
    color: $placeholder;
}

.driver__filter-input:focus::-webkit-input-placeholder {
    color: transparent;
}

.driver__filter-input:focus::-moz-placeholder {
    color: transparent;
}

.driver__filter-input:focus:-ms-input-placeholder {
    color: transparent;
}

textarea.textarea-field,
input.text-input {
    position: relative;
    display: block;
    width: 100%;
    height: 52px;
    padding: 0 20px;
    margin: 0;
    line-height: 29px;
    font-size: 17px;
    font-family: $mainFont;
    color: $color;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    background-color: $transparentWhite;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 4px;
    transition: all 0.2s;
    
    &.error {
        color: $theme;
        border: 1px solid $theme;
    }
    
    &:focus {
        background-color: $white;
    }
    
    @media only screen and (max-width: 480px) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

textarea.textarea-field {
    height: 130px;
    padding: 15px 20px;
    line-height: normal;
    overflow: hidden;
    resize: none;
}

.input {
    &-error {
        color: $transparentWhite;
    
        &:not(:first-child) {
            margin-top: 10px;
        }
    }
    
    &-line {
        position: relative;
        margin-bottom: 30px;
    }
    
    &-label {
        padding-bottom: 7px;
    }
}

select {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 52px;
    display: block;
    margin: 0;
    padding: 0 20px;
    font-size: 17px;
    font-family: $mainFont;
    color: $color;
    line-height: 50px;
    background-image: $arrowBg;
    background-color: $transparentWhite;
    background-size: 29px 26px;
    background-position: calc(100% - 5px) calc(50% + 1px);
    background-repeat: no-repeat;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    -webkit-appearance: none;
    
    &.condition-select {
        width: 60px;
    }
    
    &.error {
        border-color: $theme;
    }
    
    @media only screen and (max-width: 480px) {
        padding-left: 15px;
        padding-right: 15px;
    }
}
