.hero {
    position: relative;
    background-color: $black;
    color: $white;
    overflow: hidden;
    
    &_light {
        background-color: $lightBg;
        color: $color;
        
        .breadcrumbs {
            margin-bottom: 23px;
            color: $color;
            
            &__link {
                color: $color;
                
                &:hover {
                    color: $theme;
                }
            }
        }
        
        &:before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            display: block;
            width: 206px;
            height: 286px;
            //noinspection CssUnknownTarget
            background-image: url("../images/ui/wave.png");
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: 100%;
        }
    }
    
    &__inner {
        @include inner();
    }
    
    &__image {
        @include fitImage;
    }
    
    &__content {
        padding-top: 160px;
        padding-bottom: 128px;
        
        svg {
            fill: $white;
        }
    }
    
    &__title {
        max-width: 500px;
        margin-bottom: 38px;
        font-size: 52px;
        line-height: 1.07em;
        
        &_wide {
            max-width: 800px;
        }
    }
    
    &__text {
        max-width: 450px;
        margin-bottom: 157px;
        font-size: 23px;
        
        &__low {
            margin-bottom: 40px;
        }
        
        &-list {
            margin-top: 37px;
            margin-bottom: 58px;
            
            &-item {
                position: relative;
                padding-left: 20px;
                font-size: 19px;
                
                &:not(:first-child) {
                    margin-top: 13px;
                }
                
                &:before {
                    position: absolute;
                    content: '';
                    top: 50%;
                    left: 0;
                    display: block;
                    width: 7px;
                    height: 7px;
                    background-color: $white;
                    border-radius: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }
    
    &__button {
        max-width: 200px;
        margin-top: 46px;
        padding-left: 20px;
    }
    
    &__features {
        margin-bottom: 35px;
        
        &-item {
            display: flex;
            align-items: center;
            font-size: 19px;
            
            &:not(:first-child) {
                margin-top: 13px;
            }
            
            svg {
                width: 16px;
                height: 16px;
                margin-right: 10px;
            }
        }
    }
    
    &__more {
        display: flex;
        align-items: center;
        height: 77px;
        max-width: 337px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 17px;
        text-align: left;
        line-height: normal;
        
        @include animateButtonArrow;
        
        &.black-butn {
            justify-content: space-between;
        }
        
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
    
    &__cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 44px;
        margin-top: 42px;
        margin-bottom: 147px;
        @include inner;
        color: $color;
        
        &-item {
            min-height: 252px;
            padding-top: 53px;
            padding-right: 20px;
            padding-bottom: 20px;
            padding-left: 39px;
            background-color: $white;
            box-shadow: 0 15px 30px rgba(70, 69, 69, 0.3);
            border-radius: 4px;
    
            &:nth-child(2n) {
                .hero__cards-icon:before {
                    transform: rotate(180deg);
                }
            }
    
            &:nth-child(3n) {
                .hero__cards-icon:before {
                    transform: rotate(-45deg);
                }
            }
        }
    
        &-icon {
            position: relative;
            width: 47px;
            height: 47px;
            margin-bottom: 20px;
        
            &:before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 100%;
                background-image: $cardsIconBg;
                background-size: 100% 100%;
                background-position: 0 0;
            }
        
            svg {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                width: 47px;
                height: 47px;
                fill: $theme;
                
                &.icon-currency {
                    left: -5px;
                    top: -8px;
                    width: 51px;
                    height: 51px;
                }
                
                &.icon-card-2 {
                    left: -4px;
                    top: 3px;
                    width: 49px;
                    height: 49px;
                }
    
                &.icon-payment-1 {
                    left: 69px;
                    top: -3px;
                    width: 47px;
                    height: 47px;
                }
    
                &.icon-payment-2,
                &.icon-payment-3,
                &.icon-payment-4,
                &.icon-payment-5 {
                    left: 13px;
                    top: -3px;
                    width: 47px;
                    height: 47px;
                }
                
            }
        }
    
        &-name {
            font-size: 23px;
        }
        
        &-subname {
            display: block;
            font-size: 14px;
            color: $theme;
            text-transform: uppercase;
        }
        
        &-text {
            max-width: 330px;
            margin-top: 20px;
        }
        
        &-payment {
            display: flex;
            align-items: center;
            margin-top: 26px;
            
            svg {
                width: 47px;
                height: 29px;
                fill: $lightColor;
                margin-left: 14%;
                
                &:not(:first-of-type) {
                    margin-left: 8px;
                }
            }
        }
    }
    
    &__columns {
        display: flex;
        justify-content: space-between;
        
        &-item {
            width: calc(50% - 10px);
            .hero__cards {
                grid-template-columns: 1fr;
                grid-row-gap: 30px;
                padding-left: 0;
                padding-right: 0;
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }
    
    .sign-up {
        background: none;
        padding-top: 0;
        padding-bottom: 170px;
    }
    
    @media only screen and (max-width: 1024px) {
        &__inner {
            padding-left: 30px;
        }
    }
    
    @media only screen and (max-width: 768px) {
        &__inner {
            padding-right: 30px;
        }
        
        &__content {
            padding-top: 185px;
            padding-bottom: 64px;
        }
    
        &__title {
            margin-bottom: 25px;
            font-size: 33px;
            line-height: 1.2em;
        }
    
        &__features {
            &-item {
                font-size: 15px;
            
                &:not(:first-child) {
                    margin-top: 18px;
                }
            }
        }
    
        &__more {
            height: 57px;
            max-width: 260px;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 15px;
        }
        
        &__cards {
            grid-template-columns: 1fr;
            grid-row-gap: 20px;
            margin-top: 30px;
            margin-bottom: 76px;
            
            &-item {
                min-height: 252px;
                padding-top: 32px;
                padding-right: 20px;
                padding-bottom: 20px;
                padding-left: 17px;
            }
    
            &-payment {
                display: flex;
                align-items: center;
                margin-top: 26px;
        
                svg {
                    margin-left: 20px;
                }
            }
        }
    
        &__text {
            margin-bottom: 60px;
            font-size: 17px;
            line-height: 1.4em;
        }
    
        &__button {
            margin-top: 40px;
        }
    
        &__columns {
            display: block;
        
            &-item {
                width: 100%;
                
                .hero__cards {
                    grid-row-gap: 20px;
                    margin-bottom: 68px;
                }
            }
        }
    
        .sign-up {
            padding-bottom: 70px;
        }
    }
}