.header__mobile {
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 80;
    display: none;
    width: 0;
    height: calc(100vh - 50px);
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: $black;
    transform: translate3d(360px, 0, 0);
    transition: transform 0.35s;
    
    &.active {
        width: 100%;
        max-width: 360px;
        box-shadow: 0 5px 15px rgba($black, 0.5);
        transform: translate3d(0, 0, 0);
        
        .header__mobile-content {
            height: auto;
            opacity: 1;
            transform: translate3d(0, 0, 0);
            transition: transform 0.5s 0.25s, opacity 0.35s 0.2s;
        }
    }
    
    &-content {
        height: 0;
        overflow: hidden;
        transform: translate3d(20%, 0, 0);
        opacity: 0;
    }
    
    &-button {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 905;
        display: none;
        width: 50px;
        height: 50px;
        cursor: pointer;
        border: none;
        background: none;
        outline: none;
        text-indent: -999em;
        overflow: hidden;
        -webkit-tap-highlight-color: transparent;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        
        &:after,
        &:before {
            position: absolute;
            content: '';
            top: 50%;
            left: 50%;
            display: block;
            width: 16px;
            height: 2px;
            background: $white;
            transform: translate3d(-50%, -50%, 0);
            transition: transform 0.15s;
            box-shadow: 0 -5px 0 $white, 0 5px 0 $white;
        }
        
        &.active {
            &:after,
            &:before {
                box-shadow: 0 0 0 transparent, 0 0 0 transparent;
                background-color: $white;
            }
            
            &:after {
                top: calc(50% - 2px);
                left: calc(-50% + 43px);
                transform: rotate(-45deg);
            }
            
            &:before {
                top: calc(50% - 2px);
                left: calc(-50% + 43px);
                transform: rotate(45deg);
            }
        }
    }
    
    &-close {
        position: fixed;
        top: 50px;
        left: 0;
        z-index: 70;
        display: none;
        height: 0;
        width: 100%;
        background: transparent;
        transition: background 0.35s 0.35s;
        
        &.active {
            height: calc(100vh - 50px);
            background: rgba($black, 0.4);
        }
    }
    
    &-list {
        padding-right: 30px;
        padding-left: 30px;
        margin-bottom: 26px;
        font-size: 33px;
        line-height: 1em;
    }
    
    &-item {
        &:not(:first-child) {
            margin-top: 13px;
        }
    }
    
    &-link {
        color: $white;
        text-decoration: none;
        
        &.current,
        &:hover {
            color: $theme;
        }
    
        &.current {
            pointer-events: none;
        }
    }
    
    &-subscribe {
        width: 100%;
        max-width: calc(100% - 60px);
        height: 56px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 29px;
    }
    
    &-sublist {
        padding-right: 30px;
        padding-left: 30px;
        margin-bottom: 26px;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.08em;
    }
    
    &-subitem {
        &:not(:first-child) {
            margin-top: 13px;
        }
    }
    
    &-sublink {
        display: flex;
        align-items: center;
        color: $white;
        text-decoration: none;
        
        &_trigger {
            &:after {
                content: '';
                display: block;
                margin-left: 10px;
                margin-top: -5px;
                width: 16px;
                height: 11px;
                background-image: $exitArrow;
                background-size: 16px 11px;
                background-position: 0 0;
                background-repeat: no-repeat;
                transform: rotateY(180deg);
            }
        }
        
        &.current,
        &:hover {
            color: $theme;
        }
        
        &.current {
            pointer-events: none;
        }
    }
    
    &-dropdown {
        position: absolute;
        top: 50px;
        right: 0;
        z-index: 90;
        width: 0;
        max-width: 360px;
        min-width: 0;
        color: $white;
        background: $darkBlue;
        transform: translate3d(360px, 0, 0);
        transition: transform 0.35s;
        overflow: hidden;
        
        &.active {
            width: 100%;
            min-width: 320px;
            transform: translate3d(0, 0, 0);
        }
        
        &-title {
            display: flex;
            align-items: center;
            height: 50px;
            padding-left: 30px;
            padding-right: 50px;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 600;
            background-color: $black;
            cursor: pointer;
            
            &:before {
                content: '';
                display: block;
                margin-right: 10px;
                margin-top: -2px;
                width: 16px;
                height: 11px;
                background-image: $exitArrow;
                background-size: 16px 11px;
                background-position: 0 0;
                background-repeat: no-repeat;
            }
        }
        
        &-content {
            height: calc(100vh - 100px);
            padding-top: 24px;
            padding-right: 30px;
            padding-bottom: 30px;
            padding-left: 30px;
            overflow-x: hidden;
            overflow-y: auto;
        }
        
        &-list {
            &:not(:first-child) {
                margin-top: 40px;
            }
        }
    
        &-item {
            &:not(:first-child) {
                margin-top: 10px;
            }
        }
    
        &-link {
            color: $white;
            text-decoration: none;
        
            &.current,
            &:hover {
                color: $theme;
            }
        
            &.current {
                pointer-events: none;
            }
        }
        
        &-subtitle {
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 600;
            color: $transparentWhite;
        }
    }
    
    @media only screen and (max-width: 768px) {
        display: block;
        
        &-button,
        &-close {
            display: block;
        }
    }
}
