//noinspection ALL
@font-face {
    font-family: 'Product Sans';
    src: local('Product Sans'), local('ProductSans-Regular'),
    url('../fonts/ProductSans-Regular.woff2') format('woff2'),
    url('../fonts/ProductSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

//variables
$black: #000000;
$white: #ffffff;
$red: #ec0001;

$mainFont: 'Product Sans', Arial, Helvetica, sans-serif;
$color: #343434;
$blueColor: #78d4ed;
$transparentWhite: rgba($white, 0.6);
$lightColor: #737373;
$lighterColor: #b8b8b8;

$theme: #fc5c16;
$themeHover: darken($theme, 7%);

$placeholder: #919191;

$inputBg: #e5e5e5;
$border: #e3dfde;

$lightBg: #ece8e6;
$darkBg: #71615a;
$socials: #5d5d5e;
$lightBlue: #c6f0fc;
$darkBlue: #013e4f;

$facebook: #3a5997;
$twitter: #30acee;
$telegram: #30acee;
$vk: #45668e;
$ok: #f68620;
$viber: #79489c;
$facetime: #46b96d;
$skype: #1eabe2;
$whatsapp: #50b948;
$excel: #267248;
$google: #d8634f;

$shadow: 0 15px 30px rgba(212, 206, 203, 0.5);

$check: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAFM0aXcAAAAAXNSR0IArs4c6QAAATtJREFUKBWFUsFKw0AQHUsPehX8Dv0C0ZveerH1oIiHQimKKEihFP0SP6CgZ7/AmzcPetAfMDVtNjYla8i4M+tuuru0BjIzb/bNm5lNABGb6kUgk1we4wojAKiNWzvKAdgMI2VqJjDeZ7RYjYTE7Tk5LT9uNxiQ8UvCLkbceNs1f7znXDrogrg+Nedgm5K+6HfIOQ8ReFknW4EmDfWp9DYqTRtFwcT2SAV2OJuUORQvzxpSi3IS604yx9HeJuIsY1wnShmPYHK4y+z1hyeA1bWqkmjF+yuW30Ir/Nl/B4q0RmB5lUV7BmwvsfwePHIAw3vyKT8S0n4Hvva3IL05c0/n1096bb7HbHiHKCWKQZdxcnWCmE3nqRw7fwdlio83jA+2ddHFEZbTNCgyiaVX7c4YItp50acI2W4m+gVRLlRa0aFaCAAAAABJRU5ErkJggg==');
$exitArrow: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAYAAAB24g05AAABS2lUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4KPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS42LWMxNDAgNzkuMTYwNDUxLCAyMDE3LzA1LzA2LTAxOjA4OjIxICAgICAgICAiPgogPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIi8+CiA8L3JkZjpSREY+CjwveDp4bXBtZXRhPgo8P3hwYWNrZXQgZW5kPSJyIj8+LUNEtwAAAKpJREFUKJGdkTEKwkAQRd+KVW4gWKayt7BT8QS2AU9g4W0sbGz0BFYKIt4gJ7Cxs7WVZ2ECMSJZ8mGKGZg/u+8HlZoC8DP8p06tT4AjkLUxSIADMANGsQaoqIl69qO1Gop5YwW1vDwB9sCSeAZP1JPtNe4CW2Ba8LgCt4jLA2BYZZCpL/WuphF/X5UvKFPYAQugB1yANJLBV4xVk03D3gPIKSDWa672Y2N8A+hA67vj/kvkAAAAAElFTkSuQmCC');