<footer class="footer">
    <div class="footer__inner">
        
        <nav class="footer__nav">
            <a href="main.html" class="footer__logo">
                <img src="images/ui/logo.svg" width="117" height="15" alt=""/>
            </a>
            
            <ul class="footer__nav-list">
                <li class="footer__nav-item">
                    <a href="features.html" class="footer__nav-link">Features</a>
                </li>
                <li class="footer__nav-item">
                    <a href="pricing.html" class="footer__nav-link">Pricing</a>
                </li>
                <li class="footer__nav-item">
                    <a href="customers.html" class="footer__nav-link">Customers</a>
                </li>
                <li class="footer__nav-item">
                    <a href="contacts.html" class="footer__nav-link">Contact</a>
                </li>
            </ul>
            
            <ul class="footer__nav-list">
                <li class="footer__nav-item">
                    <a href="faq.html" class="footer__nav-link">FAQ</a>
                </li>
                <li class="footer__nav-item">
                    <a href="documentation-1.html" class="footer__nav-link">Documentation</a>
                </li>
                <li class="footer__nav-item">
                    <a href="partners-program.html" class="footer__nav-link">Partner program</a>
                </li>
                <li class="footer__nav-item">
                    <a href="story.html" class="footer__nav-link">Story</a>
                </li>
            </ul>
            
            <ul class="footer__nav-list">
                <li class="footer__nav-item">
                    <a href="#" class="footer__nav-link">Privacy</a>
                </li>
                <li class="footer__nav-item">
                    <a href="legal-note.html" class="footer__nav-link">Legal Notice</a>
                </li>
                <li class="footer__nav-item">
                    <a href="prohibited-business.html" class="footer__nav-link">Prohibited Businesses</a>
                </li>
                <li class="footer__nav-item">
                    <a href="#" class="footer__nav-link">censed and registered</a>
                </li>
            </ul>
        </nav>
        
        <div class="footer__contacts">
            <div class="footer__title">Contact us</div>
            <div class="footer__contacts-columns">
                <div class="footer__contacts-column">
                    Support;
                    <a class="call-to" href="tel:447908934352">+44 7908 934352</a>
                    <a class="mail-to" href="mailto:Hello@sharkpay.pro">Hello@sharkpay.pro</a>
                </div>
                <div class="footer__contacts-column">
                    Start:
                    <a class="call-to" href="tel:447908934352">+44 7908 934352</a>
                    <a class="mail-to" href="mailto:Start@sharkpay.pro">Start@sharkpay.pro</a>
                </div>
            </div>
            
            <div class="footer__buttons">
                <button class="light-butn" type="button">Get started</button>
    
                <div class="footer__socials">
                    Social:
                    <a href="#" class="footer__socials-link" target="_blank" rel="nofollow"><svg class="icon-facebook"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-facebook"></use></svg></a>
                    <a href="#" class="footer__socials-link" target="_blank" rel="nofollow"><svg class="icon-youtube"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-youtube"></use></svg></a>
                </div>
            </div>
        </div>
        
        <small class="footer__copyright">
            &copy; 2018, SharkPay, Inc. All Rights Reserved
        </small>
        
        <a href="https://ec.europa.eu/info/business-economy-euro/banking-and-finance/financial-supervision-and-risk-management/managing-risks-banks-and-financial-institutions_en" class="footer__license">
            EU Licensed and registered
        </a>
    </div>
</footer>
<!--JS-->
<script src="js/app.js"></script>