<div class="header__mobile">
    <nav class="header__mobile-content">
        <!--nav-->
        <ul class="header__mobile-list">
            <li class="header__mobile-item">
                <a href="features.html" class="header__mobile-link">Features</a>
            </li>
            <li class="header__mobile-item">
                <a href="pricing.html" class="header__mobile-link">Pricing</a>
            </li>
            <li class="header__mobile-item">
                <a href="contacts.html" class="header__mobile-link">Contact</a>
            </li>
        </ul>
        
        <!--subscribe-->
        <button class="header__mobile-subscribe orange-butn" type="button">Get started now</button>
        
        <!--subnav-->
        <ul class="header__mobile-sublist">
            <li class="header__mobile-subitem">
                <a href="#" class="header__mobile-sublink">Customer</a>
            </li>
            <li class="header__mobile-subitem">
                <a href="#" class="header__mobile-sublink">Privacy</a>
            </li>
            <li class="header__mobile-subitem">
                <a href="#" class="header__mobile-sublink">Legal Notice</a>
            </li>
            <li class="header__mobile-subitem">
                <a href="#" class="header__mobile-sublink">Prohibited Businesses</a>
            </li>
            <li class="header__mobile-subitem">
                <a href="#" class="header__mobile-sublink">censed and registered</a>
            </li>
            <li class="header__mobile-subitem">
                <a href="#" class="header__mobile-sublink">FAQ</a>
            </li>
            <li class="header__mobile-subitem">
                <a href="#" class="header__mobile-sublink header__mobile-sublink_trigger" data-target="documentation">Documentation</a>
            </li>
            <li class="header__mobile-subitem">
                <a href="#" class="header__mobile-sublink">Partner program</a>
            </li>
            <li class="header__mobile-subitem">
                <a href="#" class="header__mobile-sublink">Story</a>
            </li>
            <li class="header__mobile-subitem">
                <a href="#" class="header__mobile-sublink">Privacy</a>
            </li>
            <li class="header__mobile-subitem">
                <a href="#" class="header__mobile-sublink">Legal Notice</a>
            </li>
            <li class="header__mobile-subitem">
                <a href="#" class="header__mobile-sublink">Prohibited Businesses</a>
            </li>
            <li class="header__mobile-subitem">
                <a href="#" class="header__mobile-sublink">censed and registered</a>
            </li>
        </ul>
    </nav>
</div>

<!--dropdown-->
<div class="header__mobile-dropdown" data-name="documentation">
    <div class="header__mobile-dropdown-title">Documentation</div>
    <div class="header__mobile-dropdown-content">
        <ul class="header__mobile-dropdown-list">
            <li class="header__mobile-dropdown-item">
                <span class="header__mobile-dropdown-subtitle">Home</span>
            </li>
            <li class="header__mobile-dropdown-item">
                <a href="#" class="header__mobile-dropdown-link">Announcements</a>
            </li>
            <li class="header__mobile-dropdown-item">
                <a href="#" class="header__mobile-dropdown-link">API product updates</a>
            </li>
            <li class="header__mobile-dropdown-item">
                <a href="#" class="header__mobile-dropdown-link">Dashboard updates</a>
            </li>
        </ul>
        <ul class="header__mobile-dropdown-list">
            <li class="header__mobile-dropdown-item">
                <span class="header__mobile-dropdown-subtitle">Overview</span>
            </li>
            <li class="header__mobile-dropdown-item">
                <a href="#" class="header__mobile-dropdown-link">Integrate your business model</a>
            </li>
            <li class="header__mobile-dropdown-item">
                <a href="#" class="header__mobile-dropdown-link">Anti-Fraud</a>
            </li>
            <li class="header__mobile-dropdown-item">
                <a href="#" class="header__mobile-dropdown-link">KYC and compliance</a>
            </li>
            <li class="header__mobile-dropdown-item">
                <a href="#" class="header__mobile-dropdown-link">Collecting platform fees</a>
            </li>
            <li class="header__mobile-dropdown-item">
                <a href="#" class="header__mobile-dropdown-link">Tools</a>
            </li>
        </ul>
        <ul class="header__mobile-dropdown-list">
            <li class="header__mobile-dropdown-item">
                <span class="header__mobile-dropdown-subtitle">API BASIC</span>
            </li>
            <li class="header__mobile-dropdown-item">
                <a href="#" class="header__mobile-dropdown-link">API overview</a>
            </li>
            <li class="header__mobile-dropdown-item">
                <a href="#" class="header__mobile-dropdown-link">Authentication</a>
            </li>
            <li class="header__mobile-dropdown-item">
                <a href="#" class="header__mobile-dropdown-link">SSL information</a>
            </li>
            <li class="header__mobile-dropdown-item">
                <a href="#" class="header__mobile-dropdown-link">Errors</a>
            </li>
            <li class="header__mobile-dropdown-item">
                <a href="#" class="header__mobile-dropdown-link">Idempotency support</a>
            </li>
            <li class="header__mobile-dropdown-item">
                <a href="#" class="header__mobile-dropdown-link">Rate limiting</a>
            </li>
            <li class="header__mobile-dropdown-item">
                <a href="#" class="header__mobile-dropdown-link">List pagination and filtering</a>
            </li>
        </ul>
        <ul class="header__mobile-dropdown-list">
            <li class="header__mobile-dropdown-item">
                <span class="header__mobile-dropdown-subtitle">API AND POINTS</span>
            </li>
            <li class="header__mobile-dropdown-item">
                <a href="#" class="header__mobile-dropdown-link">Clients</a>
            </li>
            <li class="header__mobile-dropdown-item">
                <a href="#" class="header__mobile-dropdown-link">Client wallets</a>
            </li>
            <li class="header__mobile-dropdown-item">
                <a href="#" class="header__mobile-dropdown-link">Users</a>
            </li>
            <li class="header__mobile-dropdown-item">
                <a href="#" class="header__mobile-dropdown-link">User Emoney</a>
            </li>
            <li class="header__mobile-dropdown-item">
                <a href="#" class="header__mobile-dropdown-link">Wallets</a>
            </li>
            <li class="header__mobile-dropdown-item">
                <a href="#" class="header__mobile-dropdown-link">PayIns</a>
            </li>
            <li class="header__mobile-dropdown-item">
                <a href="#" class="header__mobile-dropdown-link">Transfers</a>
            </li>
            <li class="header__mobile-dropdown-item">
                <a href="#" class="header__mobile-dropdown-link">PayOuts</a>
            </li>
            <li class="header__mobile-dropdown-item">
                <a href="#" class="header__mobile-dropdown-link">KYC Documents</a>
            </li>
            <li class="header__mobile-dropdown-item">
                <a href="#" class="header__mobile-dropdown-link">UBO Declarations</a>
            </li>
            <li class="header__mobile-dropdown-item">
                <a href="#" class="header__mobile-dropdown-link">Mandates</a>
            </li>
            <li class="header__mobile-dropdown-item">
                <a href="#" class="header__mobile-dropdown-link">Hooks</a>
            </li>
            <li class="header__mobile-dropdown-item">
                <a href="#" class="header__mobile-dropdown-link">Events</a>
            </li>
            <li class="header__mobile-dropdown-item">
                <a href="#" class="header__mobile-dropdown-link">Transactions</a>
            </li>
            <li class="header__mobile-dropdown-item">
                <a href="#" class="header__mobile-dropdown-link">Bank accounts</a>
            </li>
            <li class="header__mobile-dropdown-item">
                <a href="#" class="header__mobile-dropdown-link">Cards</a>
            </li>
            <li class="header__mobile-dropdown-item">
                <a href="#" class="header__mobile-dropdown-link">PreAuthorizations</a>
            </li>
            <li class="header__mobile-dropdown-item">
                <a href="#" class="header__mobile-dropdown-link">Refunds</a>
            </li>
            <li class="header__mobile-dropdown-item">
                <a href="#" class="header__mobile-dropdown-link">Disputes</a>
            </li>
            <li class="header__mobile-dropdown-item">
                <a href="#" class="header__mobile-dropdown-link">Dispute Documents</a>
            </li>
            <li class="header__mobile-dropdown-item">
                <a href="#" class="header__mobile-dropdown-link">Repudiations</a>
            </li>
            <li class="header__mobile-dropdown-item">
                <a href="#" class="header__mobile-dropdown-link">Settlement Transfers</a>
            </li>
            <li class="header__mobile-dropdown-item">
                <a href="#" class="header__mobile-dropdown-link">Banking aliases (BETA*)</a>
            </li>
            <li class="header__mobile-dropdown-item">
                <a href="#" class="header__mobile-dropdown-link">SSO</a>
            </li>
            <li class="header__mobile-dropdown-item">
                <a href="#" class="header__mobile-dropdown-link">Permission Groups</a>
            </li>
            <li class="header__mobile-dropdown-item">
                <a href="#" class="header__mobile-dropdown-link">Reporting</a>
            </li>
        </ul>
        <ul class="header__mobile-dropdown-list">
            <li class="header__mobile-dropdown-item">
                <span class="header__mobile-dropdown-subtitle">Payment overview</span>
            </li>
            <li class="header__mobile-dropdown-item">
                <a href="#" class="header__mobile-dropdown-link">Disputes management</a>
            </li>
            <li class="header__mobile-dropdown-item">
                <a href="#" class="header__mobile-dropdown-link">Testing payments</a>
            </li>
            <li class="header__mobile-dropdown-item">
                <a href="#" class="header__mobile-dropdown-link">Customising bank statement</a>
            </li>
            <li class="header__mobile-dropdown-item">
                <a href="#" class="header__mobile-dropdown-link">references (cards)</a>
            </li>
            <li class="header__mobile-dropdown-item">
                <a href="#" class="header__mobile-dropdown-link">Customising bank statement</a>
            </li>
            <li class="header__mobile-dropdown-item">
                <a href="#" class="header__mobile-dropdown-link">references (direct debit)</a>
            </li>
            <li class="header__mobile-dropdown-item">
                <a href="#" class="header__mobile-dropdown-link">Customising bank statement</a>
            </li>
            <li class="header__mobile-dropdown-item">
                <a href="#" class="header__mobile-dropdown-link">references (payouts)</a>
            </li>
            <li class="header__mobile-dropdown-item">
                <a href="#" class="header__mobile-dropdown-link">Customising the design</a>
            </li>
        </ul>
    </div>
</div>

<div class="header__mobile-close"></div>
<button class="header__mobile-button" type="button">Menu</button>