<div class="table">
    <table class="table__holder">
        <caption class="table__title">CASH-IN (per transaction)</caption>
        <thead class="table__head">
            <tr>
                <th></th>
                <th>EUR</th>
                <th>GBP</th>
                <th>PLN</th>
                <th>Other</th>
            </tr>
        </thead>
        <tbody class="table__body">
            <tr>
                <td>Visa/Mastercard</td>
                <td>
                    <div class="table__price">1.8% + €0.18</div>
                </td>
                <td>
                    <div class="table__price">1.9% + £0.20</div>
                </td>
                <td>
                    <div class="table__price">2.5% + €0.25</div>
                    <div class="table__subtext">(billed in <br/>corresponding currency)</div>
                </td>
                <td>
                    <div class="table__price">2.5% + €0.25</div>
                </td>
            </tr>
            <tr>
                <td>Maestro, Diners <br/>Club & BCMC</td>
                <td>
                    <div class="table__price">2.5% + €0.25</div>
                </td>
                <td>
                    <div class="table__price">2.5% + £0.20</div>
                </td>
                <td>
                    <div class="table__price">2.5% + €0.25</div>
                    <div class="table__subtext">(billed in <br/>corresponding currency)</div>
                </td>
                <td>
                    <div class="table__price">2.5% + €0.25</div>
                </td>
            </tr>
            <tr>
                <td>Sofort</td>
                <td>
                    <div class="table__price">1.8% + €0.30</div>
                </td>
                <td>
                    <div class="table__price">-</div>
                </td>
                <td>
                    <div class="table__price">-</div>
                </td>
                <td>
                    <div class="table__price">-</div>
                </td>
            </tr>
            <tr>
                <td>Giropay</td>
                <td>
                    <div class="table__price">1.8% + €0.30</div>
                </td>
                <td>
                    <div class="table__price">-</div>
                </td>
                <td>
                    <div class="table__price">-</div>
                </td>
                <td>
                    <div class="table__price">-</div>
                </td>
            </tr>
            <tr>
                <td>iDeal</td>
                <td>
                    <div class="table__price">€0.80</div>
                </td>
                <td>
                    <div class="table__price">-</div>
                </td>
                <td>
                    <div class="table__price">-</div>
                </td>
                <td>
                    <div class="table__price">-</div>
                </td>
            </tr>
            <tr>
                <td>Przelewy24</td>
                <td>
                    <div class="table__price">-</div>
                </td>
                <td>
                    <div class="table__price">-</div>
                </td>
                <td>
                    <div class="table__price">2.5% + 0.45PLN</div>
                </td>
                <td>
                    <div class="table__price">-</div>
                </td>
            </tr>
            <tr>
                <td>Cash-in Bank wire</td>
                <td>
                    <div class="table__price">0.5%</div>
                </td>
                <td>
                    <div class="table__price">0.5%</div>
                </td>
                <td>
                    <div class="table__price">0.5%</div>
                </td>
                <td>
                    <div class="table__price">0.5%</div>
                </td>
            </tr>
            <tr>
                <td>SEPA Direct Debit</td>
                <td>
                    <div class="table__price">€0.50</div>
                </td>
                <td>
                    <div class="table__price">-</div>
                </td>
                <td>
                    <div class="table__price">-</div>
                </td>
                <td>
                    <div class="table__price">-</div>
                </td>
            </tr>
            <tr>
                <td>BACS Direct Debit</td>
                <td>
                    <div class="table__price">-</div>
                </td>
                <td>
                    <div class="table__price">£0.50</div>
                </td>
                <td>
                    <div class="table__price">-</div>
                </td>
                <td>
                    <div class="table__price">-</div>
                </td>
            </tr>
        </tbody>
    </table>
</div>