<div class="table">
    <table class="table__holder">
        <caption class="table__title">CASH-OUT (per transaction)</caption>
        <thead class="table__head">
            <tr>
                <th></th>
                <th>Domestic</th>
                <th>Non-domestic</th>
            </tr>
        </thead>
        <tbody class="table__body">
            <tr>
                <td>€</td>
                <td>
                    <div class="table__price">Free</div>
                    <div class="table__subtext">(within SEPA zone)</div>
                </td>
                <td>
                    <div class="table__price">€2.50</div>
                    <div class="table__subtext">per cash-out outside of SEPA</div>
                </td>
            </tr>
            <tr>
                <td>£</td>
                <td>
                    <div class="table__price">£0.45</div>
                    <div class="table__subtext">per cash-out</div>
                </td>
                <td>
                    <div class="table__price">£1.90</div>
                    <div class="table__subtext">per cash-out</div>
                </td>
            </tr>
            <tr>
                <td>Other currencies</td>
                <td>
                    <div class="table__price">€2.50</div>
                    <div class="table__subtext">(billed in your currency)</div>
                </td>
                <td>
                    <div class="table__price">€2.50</div>
                    <div class="table__subtext">(billed in your currency)</div>
                </td>
            </tr>
        </tbody>
    </table>
</div>