<div class="table">
    <table class="table__holder">
        <thead class="table__head">
            <tr>
                <th rowspan="2">Monthly<br/>catch-in-<br/>volumes</th>
                <th>EUR</th>
                <th>EUR</th>
                <th>PLN</th>
                <th>All</th>
                <th>GBP</th>
            </tr>
            <tr>
                <th>Visa/ <br/>Mastercard</th>
                <th>Sofort/ <br/>Giropay</th>
                <th>Visa/ <br/>Mastercard</th>
                <th>Maestro/ <br/>Diners/ <br/>BCMC</th>
                <th>Visa/ <br/>Mastercard</th>
            </tr>
        </thead>
        <tbody class="table__body">
            <tr>
                <td><div class="table__price">< €100,000</div></td>
                <td>
                    1.8% +
                    €0.18
                </td>
                <td>
                    1.8% +
                    €0.30
                </td>
                <td>
                    2.5% +
                    €0.25
                </td>
                <td>
                    2.5% +
                    €0.25
                </td>
                <td>
                    1.9% +
                    £0.20
                </td>
            </tr>
            <tr>
                <td><div class="table__price">> €100,000</div></td>
                <td>
                    1.6% +
                    €0.18
                </td>
                <td>
                    1.6% +
                    €0.30
                </td>
                <td>
                    2.3% +
                    €0.25
                </td>
                <td>
                    2.3% +
                    €0.25
                </td>
                <td>
                    1.8% +
                    £0.20
                </td>
            </tr>
            <tr>
                <td><div class="table__price">> €500,000</div></td>
                <td>
                    1.3% +
                    €0.18
                </td>
                <td>
                    1.3% +
                    €0.30
                </td>
                <td>
                    2.0% +
                    €0.25
                </td>
                <td>
                    2.0% +
                    €0.25
                </td>
                <td>
                    1.6% +
                    £0.20
                </td>
            </tr>
        </tbody>
    </table>
</div>